<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bootstrap Dashboard by Bootstrapious.com</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <title></title>

    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" >

    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css" type="text/css">

    <link rel="stylesheet" href="/css/fontastic.css" type="text/css">

    <link rel="stylesheet" href="/css/grasp_mobile_progress_circle-1.0.0.min.css" type="text/css">

    <link rel="stylesheet" href="/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css" type="text/css">

    <link rel="stylesheet" href="/css/style.default.css" id="theme-stylesheet" type="text/css">

    <link rel="stylesheet" href="/css/custom.css" type="text/css">

    <link rel="shortcut icon" href="/img/favicon.ico">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">-->
    <link rel="stylesheet" href="/css/chart.css">
    <link rel="stylesheet" href="/css/tostar.css">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css">-->


    <link rel="stylesheet" href="/css/datatable.css" type="text/css">
    <script type="text/javascript" src="/js/vue.js"></script>
    <script type="text/javascript" src="/js/vuejs-datatable.js"></script>
    <script type="text/javascript" src="/js/axios.js"></script>

    <!--<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js" type="sc"></script>-->
    <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->

    <style>
        *{
            font-family: "Fira Code";
        }
    </style>

</head>


<body>