<% include ../partials/head %>
<% include ../partials/sidebar %>

<section class="dashboard-counts section-padding">

    <div class="container-fluid">
        <h1>404 Not Found</h1>
    </div>


<% include ../partials/footer %>