﻿<% include ../partials/head %>
<% include ../partials/sidebar %>


<div id="app">

<section class="dashboard-header section-padding">

    <div class="container-fluid">
        <h4 class="px-1"><%= division %> / Cities </h4>
        <hr>

        <div class="row" style="margin-left:0px !important">

        <button class="btn btn-primary col-md-1" style="margin-bottom:15px" @click="addNew()" >Add New</button>

<form class="form-inline col-md-6 offset-md-5"  @submit.prevent="search_city()">
  
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only">Search</label>
    <input type="text" class="form-control" v-model="search.city" >
  </div>
  <button type="submit" class="btn btn-outline-secondary mb-2">Search</button>
		</form>

</div>

        <section class="dashboard-header section-padding" v-if="addVisible">
    		<div class="container-fluid">
       			
       			 	
       			<div class="card ">
       				<div class="card-body">
       				 <h5 class="card-title" style="padding-left:14px">Add City</h5>
       				<form class="col-md-6" @submit.prevent="addNewCity()">
					  <div class="form-group">
					   
					    <input type="hidden" v-model="newCity.division_id" >
					    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter City" v-model="newCity.city">
					  </div>
 
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
       				</div>
       			</div>
      
    		</div>
		</section>


		  <section class="dashboard-header section-padding" v-if="editVisible">
    		<div class="container-fluid">
       			
       			 	
       			<div class="card ">
       				<div class="card-body">
       				 <h5 class="card-title" style="padding-left:14px">Edit City</h5>
       				<form class="col-md-6" @submit.prevent="edit_city()">
					  <div class="form-group">
					   
					    <input type="hidden" v-model="editCity.id" >
					    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter City" v-model="editCity.city">
					  </div>
 
					<button type="submit" class="btn btn-primary">Submit</button>
					<button type="button" class="btn btn-danger" @click="cancelUpdate()">Cancel</button>

				</form>
       				</div>
       			</div>
      
    		</div>
		</section>

       
       		 <table class="table table-bordered" v-if="search_result">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                   
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                      <tr v-for="(row,index) in searchRows">
                        <td>{{row.id}}</td>
                        <td>{{row.city}}</td>
                        
                      <td>
                     	   <button  v-on:click="initUpdate(row.id)" class="btn btn-success">Update</a>
                      </td> 
                      <td>
                     	   <button  v-on:click="deleteCity(row.id)" class="btn btn-danger">Delete</a>
                      </td> 

                      </tr>
                    </tbody>
                </table>


        	  <table class="table table-bordered" v-if="seeData">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                   
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                      <tr v-for="(row,index) in rows">
                        <td>{{row.id}}</td>
                        <td>{{row.city}}</td>
                        
                      <td>
                     	   <button  v-on:click="initUpdate(row.id)" class="btn btn-success" id="update">Update</a>
                      </td> 
                      <td>
                     	   <button  v-on:click="deleteCity(row.id)" class="btn btn-danger">Delete</a>
                      </td> 

                      </tr>
                    </tbody>
                </table>

      
    </div>
</section>



	

</div>



<% include ../partials/footer %>



<script>

	new Vue({
		el:"#app",
		data:{
			cities:[],
			columns:[
			{label: 'id', field: 'id'},
			{label:'Name', field: 'city'},
			{label:'Update',representedAs: function(row){
                return '<button class="btn btn-primary" v-on:click="initUpdate(id)">Action</button>'
            }, interpolate: true},
            {label:'Delete',representedAs: function(row){
            	 return '<button class="btn btn-danger">Delete</button>'
            },interpolate: true}
			],
			rows:[],
			searchRows:[],
			addVisible:false,
			editVisible:false,
			search_result:false,
			newCity:{
				city:'',
				division_id:'<%= id %>',
			},
			editCity:{
				id:'',
				city:''
			},
			seeData:true,
			search:{
				city:'',
				division_id:<%= id %>,
			}
		},
		mounted(){
		 	this.getData();
		},
		methods:{
			getData(){
			axios.get('../get/division/<%= id %>').then((data) => {
           	this.rows=data.data.row;
            });
			},
			addNew(){
				this.addVisible=true;
				this.editVisible=false;		
			},
			addNewCity(){
				console.log(JSON.stringify(this.newCity));
				axios.post('../add/newcity',{
					method:"Post",
					data:JSON.stringify(this.newCity),
					header:{
               			 'content-type':'application/json'
            			  }
				}).then(data=>{
					this.newCity.city='';
					this.getData();
					this.addVisible=false;
				});
			},
			initUpdate(id){
				this.backToTop();
				this.editCity.id=id;
				axios.get('../edit/city/'+id).then((data) => {
					console.log(data.data.result[0].city);
					this.editCity.city=data.data.result[0].city;
					
				});

				this.addVisible=false;
				this.editVisible=true;
			},
			  backToTop() {
      $('html,body').stop().animate({
        scrollTop: 0
      }, 'slow', 'swing');
    },
			edit_city(){
				axios.post('../edit/city',{
					method:"Post",
					data:JSON.stringify(this.editCity),
					header:{
               			 'content-type':'application/json'
            			  }
				}).then(data=>{
					this.editVisible=false;
					// this.search_result=false;
					this.getData();


					if(this.search_result == true){

						this.search_city();

					}


				});
			},
			deleteCity(id){
				axios.get('../delete/city/'+id).then(data=>{
					this.getData()
				});
			},
			search_city(){
				// alert(343);
				axios.post('../search',{
					method:"Post",
					data:JSON.stringify(this.search),
					header:{
               			 'content-type':'application/json'
            			  }
				}).then(data=>{
					// console.log(data.data.row);
					this.rows='';
					this.seeData=false;
					this.searchRows=data.data.row;
					this.search_result=true;
				});
				
			},
			cancelUpdate(){
				this.editVisible=false;		
				}
		}
	});


</script>



