<% include ../partials/head %>
<% include ../partials/sidebar %>



<section class="dashboard-header section-padding">

    <div class="container-fluid">
        <h4 class="px-1">Division</h4>
        <hr>
        <table id="example" class="display table table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i = 0; i < data.length; i++) { %>
                <tr>
                    <td><%= data[i].id %></td>
                    <td><%= data[i].name %></td>
                    <td><a href="/place/addcity/<%= data[i].id %>" role="button" class="btn btn-primary">Detail</a></td>
                </tr>
            <% } %>
            </tbody>
            <tfoot>
            </tfoot>
        </table>

    </div>
</section>



<% include ../partials/footer %>