<% include ../partials/head %>
<% include ../partials/sidebar %>

<!-- Side Navbar -->


<!-- navbar-->

<!-- Counts Section -->
<section class="dashboard-counts section-padding">
    <div class="container-fluid">
        <div class="row">
            <!-- Count item widget-->
            <div class="col-xl-2 col-md-4 col-6">
                <div class="wrapper count-title d-flex">
                    <div class="icon"><i class="icon-user"></i></div>
                    <div class="name"><strong class="text-uppercase">New User</strong><span>Last 7 days</span>
                        <div class="count-number"><%= user_count %></div>
                    </div>
                </div>
            </div>
            <!-- Count item widget-->
            <div class="col-xl-2 col-md-4 col-6">
                <div class="wrapper count-title d-flex">
                    <div class="icon"><i class="icon-padnote"></i></div>
                    <div class="name"><strong class="text-uppercase">Students count</strong><span>This Month</span>
                        <div class="count-number"><%= student_count %></div>
                    </div>
                </div>
            </div>
            <!-- Count item widget-->
            <div class="col-xl-2 col-md-4 col-6">
                <div class="wrapper count-title d-flex">
                    <div class="icon"><i class="icon-check"></i></div>
                    <div class="name"><strong class="text-uppercase">School count</strong><span>This Month</span>
                        <div class="count-number"><%= school_count %></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="dashboard-header section-padding">

    <div class="container-fluid">
        <h4 class="px-1">User Who has Tution or School</h4>
        <hr>
        <table id="example" class="display table table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>id</th>
                <th>Full Name</th>
                <th>Username</th>
                <th>Age</th>
                <th>School</th>
                <th>Tution</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i = 0; i < data.length; i++) { %>
                <tr>
                    <td><%= data[i].id %></td>
                    <td><%= data[i].fullname %></td>
                    <td><%= data[i].username %></td>
                    <td><%= data[i].age %></td>
                    <td><%= data[i].school_creation %></td>
                    <td><%= data[i].tution%></td>
                    <td><a href="../userdetail/<%= data[i].id %>" role="button" class="btn btn-primary">Detail</a></td>
                </tr>
            <% } %>
            </tbody>
            <tfoot>
            </tfoot>
        </table>

    </div>
</section>

<% include ../partials/footer %>
