<% include ../partials/head %>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<% include ../partials/sidebar %>


<section class="dashboard-counts section-padding">
    <div class="container-fluid row mt-4">
        <div class="col-lg-12">
            <div class="card line-chart-example">
                <div class="card-header d-flex align-items-center">
                    <h4>All Schools By Month</h4>
                </div>
                <div class="card-body">

                    <div id="chartContainer" style="height: 500px; width: 100%;"></div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h4>All Users</h4>
        <hr>
        <table class="table table-bordered" style="width: 100% !important;" id="data">
            <thead>
            <tr>
                <th>ID</th>
                <th>School Name</th>
                <th>Primary Minster</th>
                <th>School Level</th>
                <th>Division</th>
                <th>City</th>
                <th>Detail</th>
            </tr>
            </thead>
            <tbody>
            <% for(let i = 0; i < data.length; i++) { %>
                <tr>
                    <td><%= i %></td>
                    <td><%= data[i].school_name %></td>
                    <td><%= data[i].primary_minster %></td>
                    <td><%= data[i].school_level %></td>
                    <td><%= data[i].township %></td>
                    <td><%= data[i].city %></td>
                    <td><a href="/school/edit/<%= data[i].id %>" role="button" class="btn btn-outline-success">Edit
                            School</a></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</section>


<% include ../partials/footer %>

<script>
    window.onload = function () {

        var dps1 = [],dps2=[];
        var chart = new CanvasJS.Chart("chartContainer", {
            theme: "dark1",
            legend: {
                cursor: "pointer",
                verticalAlign: "top",
                horizontalAlign: "center",
                dockInsidePlotArea: true,
            },
            animationEnabled: true,
            toolTip: {
                shared: true
            },
            data: [
                {
                    name: "School",
                    type: "area",
                    dataPoints: dps1,
                    showInLegend: true
                },
                {
                    name:"Open Schools",
                    type: "area",
                    dataPoints: dps2,
                    showInLegend: true
                },
            ]
        });

        $.when(
            $.getJSON("../school/getschoolbymonth", function (data) {
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    dps1.push({label: data[i].date, y: data[i].schools});
                    dps2.push({ label: data[i].date, y: data[i].openschools });
                }
            })
        ).then(function () {
            chart.render();
        });

    }
</script>

