<% include ../partials/head %>
<% include ../partials/sidebar %>


<section class="dashboard-counts section-padding">

    <div class="container-fluid">
        <h4>School/<%= data[0].school_name %></h4>
        <hr>

        <div class="row">
            <div class="card col-lg-12  m-1">

                <% for(let i = 0; i < data.length; i++) { %>
                    <input type="hidden" id="school_id" value="<%= data[i].id %>">

                    <div class="card-body">
                        <h5 class="card-title"><%= data[i].school_name %></h5>
                        <ul class="list-group">
                            <li class="list-group-item">School Level :: <%= data[i].school_level %> </li>
                            <li class="list-group-item">Primary Minster :: <%= data[i].primary_minster %></li>
                            <li class="list-group-item">Township :: <%= data[i].township %></li>
                            <li class="list-group-item">City :: <%= data[i].city %></li>
                            <li class="list-group-item">Description ::
                                <p>
                                    <%= data[i].description %>
                                </p>
                            </li>
                            <li class="list-group-item">Image ::
                                <% let image = data[i].image.split(','); %>
                                <div class="row">
                                    <% for(let j = 0;j < image.length ; j++){ %>
                                        <div class="card col-md-4">
                                            <a href="#" class="zoom" data-toggle="modal" data-target="#lightbox">
                                                <img src="<%= image[j] %>" alt="" class="img-fluid">
                                            </a>
                                        </div>
                                    <% } %>
                                </div>

                            </li>
                            <div id="result">
                                <li class=" list-group-item">
                                    Status ::
                                    <% if( data[i].permission === 1 ){ %>
                                        <span class="badge  badge-primary">Open</span>
                                    <% }else if( data[i].permission === 0 ){ %>
                                        <span class="badge  badge-danger">Pending.....</span>
                                    <% }else if( data[i].permission === 2 ) { %>
                                        <span class="badge  badge-danger">Expired.....</span>
                                    <% } else if( data[i].permission === 3 ) { %>
                                        <span class="badge  badge-danger">Closed.....</span>
                                    <% } %>
                                </li>
                            </div>
                            <li class="list-group-item">
                                <div class="form-group row">
                                    Change ::
                                    <select name="" id="" class="change_school form-control">
                                        <div id="select_change">
                                            <% if( data[i].permission === 1 ){ %>
                                                <option selected value="1">Open</option>
                                                <!--<option value="0">Pending</option>-->
                                                <option value="2">Expired</option>
                                                <option value="3">Close</option>
                                            <% }else if( data[i].permission === 0 ){ %>
                                                <option selected value="0">Pending.....</option>
                                                <option value="1">Open</option>
                                                <option value="2">Expired</option>
                                                <option value="3">Close</option>
                                            <% }else if( data[i].permission === 2 ) { %>
                                                <option value="2" selected>Expired.....</option>
                                                <option value="1">Open</option>
                                                <!--<option value="0">Pending</option>-->
                                                <option value="3">Close</option>
                                            <% } else if( data[i].permission === 3 ) { %>
                                                <option value="3" selected>Closed.....</option>
                                                <option value="1">Open</option>
                                                <option value="2">Expired</option>
                                                <!--<option value="0">Pending</option>-->
                                            <% } %>
                                        </div>
                                    </select>
                                </div>
                            </li>
                    </div>
                    </ul>

            </div>
            <% } %>
        </div>
    </div>


    </div>


    <div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" style="max-width: 100% !important;width: 100% !important;height: 80% !important;">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-body">
                    <img src="" alt="" class="img-fluid"/>
                </div>
            </div>
        </div>
    </div>

</section>


<% include ../partials/footer %>


<script>
    $('.change_school').on('change', function () {

        let change = this.value;
        let id = $('#school_id').val();
        console.log(change);
        $.ajax({
            url: '../edit/' + id + '/' + change,
            method: "GET",
            success: function (result) {
                $('#result').empty();
                let change = result.change;
                let updateView = ' <li class=" list-group-item">Status ::';
                if (change === "1") {
                    updateView += '<span class="badge  badge-primary">Open</span>';
                } else if (change === "2") {
                    updateView += ' <span class="badge  badge-danger">Expired.....</span></li>';
                } else if (change === "0") {
                    updateView += ' <span class="badge  badge-danger">Pending.....</span></li>';
                } else if (change === "3") {
                    updateView += ' <span class="badge  badge-danger">Closed.....</span></li>';
                }

                $('#result').append(updateView);


                let updateViewSelect = '<li class="list-group-item"><div class="form-group row">' + 'Change ::';
                updateViewSelect += '<select name=""  class=" change_school form-control">';

                if (change === "1") {
                    updateViewSelect += "<option selected value=\"1\">Open.....</option>\n" +
                        // "<option value=\"1\">Open</option>\n" +
                        "<option value=\"2\">Expired</option>\n" +
                        "<option value=\"3\">Close</option>";
                } else if (change === "2") {
                    updateViewSelect += "<option value=\"2\" selected>Expired.....</option>\n" +
                        " <option value=\"1\">Open</option>\n" +
                        // " <option value=\"0\">Pending</option>\n" +
                        "  <option value=\"3\">Close</option>";
                } else if (change === "3") {
                    updateViewSelect += "  <option value=\"3\" selected>Closed.....</option>\n" +
                        "<option value=\"1\">Open</option>\n" +
                        " <option value=\"2\">Expired</option></select></li>";
                    // " <option value=\"0\">Pending</option></select></li>";
                }

                $('#select_change').empty();
                $('#select_change').append(updateViewSelect);

                if (result.status === 1) {

                    toastr.info(result.message)
                } else {
                    toastr.danger(result.message);
                }

                // setTimeout(function () {
                //     location.reload();
                // }, 2500)

            }


        });
    });
</script>


<script>
    $(document).ready(function () {
        var $lightbox = $('#lightbox');
        $('[data-target="#lightbox"]').on('click', function (event) {
            var $img = $(this).find('img'),
                src = $img.attr('src'),
                alt = $img.attr('alt'),
                css = {
                    'maxWidth': $(window).width() - 100,
                    'maxHeight': $(window).height() - 100
                };
            $lightbox.find('img').attr('src', src);
            $lightbox.find('img').attr('alt', alt);
            // $lightbox.find('img').css(css);
        });
        $lightbox.on('shown.bs.modal', function (e) {
            var $img = $lightbox.find('img');
            $lightbox.find('.modal-dialog').css({'width': $img.width()});
            $lightbox.find('.close').removeClass('hidden');
        });
    });
</script>