<% include ../partials/head %>
<% include ../partials/sidebar %>

<section class="dashboard-counts section-padding">

    <div class="container-fluid">
        <h4>User Has School</h4>
        <hr>
        <table class="table table-bordered" style="width: 100% !important;" id="data">
            <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Full Name</th>
                <th>School</th>
                <th>Age</th>
                <th>Birthday</th>
                <th>Detail</th>
            </tr>
            </thead>
            <tbody>
            <% for(let i = 0; i < data.length; i++) { %>
                <tr>
                    <td><%= data[i].id %></td>
                    <td><%= data[i].username %></td>
                    <td><%= data[i].fullname %></td>
                    <td><a href="/user/school/<%= data[i].id %>"><%= data[i].school_creation %></a></td>
                    <td><%= data[i].age %></td>
                    <td><%= data[i].birthday %></td>
                    <td><a href="../userdetail/<%= data[i].id %>" role="button" class="btn btn-primary">Detail</a></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</section>

<% include ../partials/footer %>