<% include ../partials/head %>
<% include ../partials/sidebar %>

<section class="dashboard-counts section-padding">
    <div class="container-fluid">
        <h4>User Detail</h4>
        <hr>

        <div class="card">

                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Fullname :: <%= data.fullname %></li>
                        <li class="list-group-item">Username :: <%= data.username %></li>
                        <li class="list-group-item">School Creation :: <%= data.school_creation%> </li>
                        <li class="list-group-item">Tution Creation :: <%= data.tution%></li>
                        <li class="list-group-item">Age :: <%= data.age%></li>
                        <li class="list-group-item">Birthday :: <%= data.birthday%></li>
                        <li class="list-group-item">Division :: <%= data.division%></li>

                        <li class="list-group-item">City :: <%= data.city%></li>
                        <li class="list-group-item">Registered Date :: <%= data.registered_date%> </li>
                    </ul>
                </div>
        </div>

    </div>
</section>

<% include ../partials/footer.ejs %>
