<% include ../partials/head %>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<% include ../partials/sidebar %>


<section class="dashboard-counts section-padding">
    <div class="container-fluid row mt-4">
        <div class="col-lg-12">
            <div class="card line-chart-example">
                <div class="card-header d-flex align-items-center">
                    <h4>Line Chart Example</h4>
                </div>
                <div class="card-body">

                <div id="chartContainer" style="height: 500px; width: 100%;"></div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h4>All Users</h4>
        <hr>
        <table class="table table-bordered" style="width: 100% !important;" id="data">
            <thead>
            <tr>
                <th>Username</th>
                <th>Full Name</th>
                <th>Age</th>
                <th>Birthday</th>
                <th>Detail</th>
            </tr>
            </thead>
            <tbody>
            <% for(let i = 0; i < data.length; i++) { %>
                <tr>
                    <td><%= data[i].id %></td>
                    <td><%= data[i].fullname %></td>
                    <td><%= data[i].age %></td>
                    <td><%= data[i].birthday %></td>
                    <td><a href="../userdetail/<%= data[i].id %>" role="button" class="btn btn-primary">Detail</a></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</section>


<% include ../partials/footer %>

// <script>
//     $(document).ready(function () {

//         'use strict';

//         $.ajax({
//             url:'../getdata',
//             success:function (data) {
//                 console.log(data);

//                 let date = [];
//                 let student = [];
//                 let user = [];
//                 let school = [];

//                 for(let i in data) {
//                     date.push( data[i].date);
//                     student.push(data[i].students);
//                     user.push(data[i].total);
//                     school.push(data[i].schools);
//                 }

//                 console.log(date);

//                 var chartdata = {
//                     labels: date,
//                     datasets: [
//                         {
//                             label: "student",
//                             fill: false,
//                             lineTension: 0.1,
//                             backgroundColor: "rgba(59, 89, 152, 0.75)",
//                             borderColor: "rgba(59, 89, 152, 1)",
//                             pointHoverBackgroundColor: "rgba(59, 89, 152, 1)",
//                             pointHoverBorderColor: "rgba(59, 89, 152, 1)",
//                             data: student
//                         },
//                         {
//                             label: "school",
//                             fill: false,
//                             lineTension: 0.1,
//                             backgroundColor: "rgba(29, 202, 255, 0.75)",
//                             borderColor: "rgba(29, 202, 255, 1)",
//                             pointHoverBackgroundColor: "rgba(29, 202, 255, 1)",
//                             pointHoverBorderColor: "rgba(29, 202, 255, 1)",
//                             data: school
//                         },
//                         {
//                             label: "user",
//                             fill: false,
//                             lineTension: 0.1,
//                             backgroundColor: "rgba(211, 72, 54, 0.75)",
//                             borderColor: "rgba(211, 72, 54, 1)",
//                             pointHoverBackgroundColor: "rgba(211, 72, 54, 1)",
//                             pointHoverBorderColor: "rgba(211, 72, 54, 1)",
//                             data: user
//                         }
//                     ]
//                 };

//                 var ctx = $("#mycanvas");

//                 var LineGraph = new Chart(ctx, {
//                     type: 'line',
//                     data: chartdata
//                 });
//             },
//             error : function(data) {

//             }



//         });





//     });
// </script>


<script>
window.onload = function() {

var dps1 = [], dps2 = [],dps3=[];
var chart = new CanvasJS.Chart("chartContainer", {
 theme:"dark1",
  legend: {
        cursor: "pointer",
        verticalAlign: "top",
        horizontalAlign: "center",
        dockInsidePlotArea: true,
    },
  animationEnabled: true,
  toolTip: {
    shared: true
  },
  data: [
    {
        name:"School",
        type: "area",
      dataPoints: dps1,

        showInLegend: true
    },
    {
        name:"Student",
            type: "area",
      dataPoints: dps2,

        showInLegend: true
    },
    {
        name:"User",
            type: "area",
      dataPoints: dps3,

        showInLegend: true
    }
  ]
});

$.when(
    $.getJSON("../getdata", function(data) {
            for(var i = 0; i < data.length; i++) {
            dps1.push({ label: data[i].date, y: data[i].schools });
             dps2.push({ label: data[i].date, y: data[i].students });
              dps3.push({ label: data[i].date, y: data[i].total });
          }
      })
    ).then(function() {
    chart.render();
 });

}
</script>

