<% include ../partials/head %>
<% include ../partials/sidebar %>

<section class="dashboard-counts section-padding">

    <div class="container-fluid">
        <h4>School</h4>
        <hr>

        <div class="row">
            <% for(let i = 0; i < data.length; i++) { %>
                <div class="card col-lg-4 m-1">
                    <!--<img class="card-img-top" src="<%= data[i].image %>" alt="Card image cap">-->
                    <div class="card-body">
                        <h5 class="card-title"><%= data[i].school_name %>
                            <a href="/school/edit/<%= data[i].id %>">

                                <% if( data[i].permission === 1 ){ %>
                                    <span class="badge badge-pill badge-primary">Open</span>
                                <% }else{ %>
                                    <span class="badge badge-pill badge-danger">Pending.....</span>

                                <% } %>
                            </a>

                        </h5>
                        <ul class="list-group">
                            <li class="list-group-item">School Level :: <%= data[i].school_level %> </li>
                            <li class="list-group-item">Primary Minster :: <%= data[i].primary_minster %></li>
                            <li class="list-group-item">Township :: <%= data[i].township %></li>
                            <li class="list-group-item">City :: <%= data[i].city %></li>
                            <li class="list-group-item">Description ::
                                <p>
                                    <%= data[i].description %>
                                </p>
                            </li>
                            <li class="list-group-item">
                                <a href="/school/edit/<%= data[i].id %>" role="button" class="btn btn-outline-success">Edit School</a>
                            </li>
                        </ul>

                    </div>
                </div>
            <% } %>
        </div>


    </div>
</section>

<% include ../partials/footer %>
